{% extends "blog/base.html" %}
{% block titulo %} Início {% endblock titulo %}
{% block content %}
{% for post in postagem %}
<a class="text-decoration-none" href="{% url "noticia" post.id %}">
<div class="container-fluid text-center border-bottom border-dark">
  <div class="col mb-5 py-4">
    <div class="row justify-content-center">
      <div class="col-auto"> <h2>{{ post.titulo }}</div></h2>
    </div>

    <div class="row justify-content-center ">
      <div class="col-auto">
        <img src="{{ post.imagem.url }}" alt="{{ post.titulo }}" class="img-fluid">
         
      </div>
    </div>

    <div class="row justify-content-center text-start">
      <div class="col-auto">{{ post.descricao }}</div>
    </div>
    
    <div class="row justify-content-center">
      <div class="col-auto">{{ post.data }}</div>
    </div>

  </div>
</div>
</a>
{% endfor %}
{% endblock content %}
