{% extends "blog/base.html" %}
{% block titulo %} Início {% endblock titulo %}
{% block content %}
{% for post in postagem %}
<a href="{% url "noticia" post.id %}">
<div class="container-fluid text-center">
  <div class="col bg-primary mb-5 py-4">
    <div class="row justify-content-center">
      <div class="col-auto">{{ post.titulo }}</div>
    </div>

    <div class="row justify-content-center">
      <div class="col-auto">
        <img src="{{ post.imagem.url }}" alt="{{ post.titulo }}" class="img-fluid">
         
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-auto">{{ post.descricao }}</div>
    </div>
    
    <div class="row justify-content-center">
      <div class="col-auto">{{ post.data }}</div>
    </div>

  </div>
</div>
</a>
{% endfor %}
{% endblock content %}
